'''
To perform an ANOVA (Analysis of Variance), the following conditions should be met:

    Independence: The observations within each group must be independent of each other.
        tests: chi-square for independence
    Normality: The data in each group should be approximately normally distributed.
        tests: Kolmogorov-Smirnov, Shapiro-Wilk
    Homogeneity of Variances: The variances among the groups should be approximately equal.
        tests: levene, bartlett, brown-forsythe

Additional notes on Post-hoc:
After performing ANOVA, 
which tells you whether there are significant differences between group means, 
post-hoc tests can determine which specific groups differ from one another.
Tests:
    Tukey's HSD
    Benferroni
    Scheffe
    Dunnett
    LSD
    Games-Howell

'''
